<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="First tab" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Triangle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Second tab" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Circle</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Third tab" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Square</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
