<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Various books
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Book's searching</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input [(ngModel)]="input_field" label="Input book name" placeholder="Book's name"></ion-input>
  </ion-item>
  <ion-button fill="outline" (click)="method()">OK</ion-button>
  {{a}}
  <app-explore-container name="Searching books"></app-explore-container>
</ion-content>

